<launch>
  
  <!-- Voice Control Main Node  -->
	<node pkg="alexa_voice_control" type="alexa_voice_control_Node" name="alexa_voice_control_Node" output="screen"/>
	
  <!-- Alexa TTS  -->
  <include file="$(find alexa_voice_control)/launch/alexa_tts.launch"/>
	
  <!-- Alexa Skill Server  -->
  <include file="$(find alexa_voice_control)/launch/skill_server.launch"/>

</launch>
